{% extends 'retro/baseNavigation.html' %}
{% load static %}
{% block pageTitle %}
  {% if retro_details %}
    {{retro_details.title}}
  {% endif %}
{% endblock %}

{% block pageDiscription %}

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-md-12">
          {% if retro_items %}
          <!-- <div class="card">
            <div class="card-header">
              Retro Items
            </div>
            <div class="card-body"> -->
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">
                      Edit
                    </th>
                    <th scope="col">
                      Description
                    </th>
                    <th scope="col">
                      Category
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in retro_items %}
                  <tr>
                    <td style="width: 30px;"><a href="{% url 'retro:editRetroItem' item.id %}" class="btn btn-link"><span class="fa fa-edit"></span></a></td>
                    <td>{{item.title}}</td>
                    <td align>{{item.category}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            <!-- </div>
          </div> -->
          {% else %}
          <div class="alert alert-warning">
            <p>Please add a retro item</p>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          {% if retro_details %}
          <a href="{% url 'retro:newRetroItem' retro_details.id %}" class="btn btn-primary"><span class="fa fa-plus"></span></a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-3" id="image_column" style="border-left: 1px solid #dfdfdf;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a href="#" class="navbar-brand">Images</a>
        <button class="btn btn-primary"><span class="fa fa-plus"></span></button>
      </nav>
      <div style="overflow-y: scroll; height: 800px">
        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-12">
            <img src="{% static 'retro/images/New-York-City.jpg'%}"" alt="..." class="img-thumbnail" style="height: 200px; width: 100%;">
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-12">
            <img src="{% static 'retro/images/New-York-City.jpg'%}"" alt="..." class="img-thumbnail" style="height: 200px; width: 100%;">
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-12">
            <img src="{% static 'retro/images/New-York-City.jpg'%}"" alt="..." class="img-thumbnail" style="height: 200px; width: 100%;">
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-12">
            <img src="{% static 'retro/images/New-York-City.jpg'%}"" alt="..." class="img-thumbnail" style="height: 200px; width: 100%;">
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-12">
            <img src="{% static 'retro/images/New-York-City.jpg'%}"" alt="..." class="img-thumbnail" style="height: 200px; width: 100%;">
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-12">
            <img src="{% static 'retro/images/New-York-City.jpg'%}"" alt="..." class="img-thumbnail" style="height: 200px; width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
{ % endblock % }
