{% extends "retro/baseNavigation.html" %}

{% block chatScripts %}
{% load static %}
<script type="text/javascript" src="{% static 'retro/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'retro/chartsData.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $.ajax({
      method: 'GET',
      url: "{% url 'retro:getData'%}",
      success: function(data){
        console.log("got it");
        console.log(data);
      },
      error: function(data){
        console.log("there was an error");
        console.log(data);
      }
    })
  });
</script>
{% endblock %}

{% block pageTitle%}
  Dashboard
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <div class="col-md-4">
    <canvas id="myChart2" width="300" height="300"></canvas>
  </div>
</div>
{% endblock %}
{ % endblock % }
