{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Retro Login</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'retro/master.css' %}">
    <link rel="stylesheet" href="{% static 'retro/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script type="text/javascript">
      $(document).ready(function(){
        $(".login").delay(250).fadeIn();
        $(".signup").delay(1000).fadeIn()
        $(".content").delay(250).fadeIn();

        $("#signup").submit(function(event){
          event.preventDefault();
          console.log($("#signup").serialize());
          $.ajax({
            type: "POST",
            url: "/register/",
            data: $("#signup").serialize(),
            success: function(data){
              console.log(data);
              $('#exampleModal').modal('toggle');
            },
            error: function(error){
              $("#login_errors").show();
              var errorList = "";
              for(var key in error.responseJSON){
                if(error.responseJSON.hasOwnProperty(key)){
                  errorList += "<li>" + key + ": " + error.responseJSON[key] + " </li>";
                }
              }
              $("#errorlist").html(errorList);
            }
          });
        });
      });
    </script>
    <style type="text/css">
      #login_errors{
        display: none;
      }
      .container, .container-fluid{
        margin-top: 100px;
      }
      .card{
        margin-bottom: 15px;
      }

      body{
        background: url("{% static 'retro/images/New-York-City.jpg'%}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .login, .signup{
        background-color: rgba(255, 0, 0, 0);
      }
      .login{
        border-color: rgba(144,144,144,0.1);
        display: none;
      }
      .signup, .content{
        border: none;
        display: none;
      }


      .content{
        background-color: rgba(255, 0, 0, 0);
        
        color: white;
      }

      .bg{
        position: absolute;
        width:100%;
        height:100%;
        background-size:cover;
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -ms-filter: blur(4px);
        -o-filter: blur(4px);
        filter: blur(4px);
        background-color: rgba(144,144,144,0.5);
        z-index: -1;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card login" >
            <div class="bg"></div>
            <div class="card-body">
              <h4 class="card-title">Metro Retro</h4>
              <form action="{% url 'retro:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                  <input type="text" name="username" class="form-control" placeholder="Enter Username">
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-lock"></span></span>
                  <input type="password" name="password" class="form-control" placeholder="Enter Password">
                </div>
                <div class="form-group">
                  <input type="submit" name="submitBtn" value="Log In" class="btn btn-info" id="loginBtn">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="../ForgotPassword/index.html" class="freeText">Forgot Password?</a>
                </div>
              </form>
            </div>
          </div>\
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card signup">
            <div class="card-body">
              <button data-target="#exampleModal" data-toggle="modal" type="button" class="btn btn-info btn-md btn-block">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sign Up!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row" id="login_errors">
              <div class="col-md-12">
                <div class="alert alert-danger">
                  <ul id="errorlist">
                    
                  </ul>
                </div>                
              </div>
            </div>
            <form method="POST" id="signup">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-6">
                  <label for="company_name">Company Name</label>
                  <input type="text" id="company_name" name="company_name" class="form-control" placeholder="Enter Company Name">
                </div>
                <div class="col-md-6">
                  <label for="email">Email Address</label>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email Address">
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" placeholder="Enter First Name" class="form-control">
                  </div>
                  <div class="col-md-6">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" placeholder="Enter Last Name" class="form-control">
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <label for="new_username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="new_user_password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
                  </div>
                  <div class="col-md-6">
                    <label for="new_user_confirm_password">Confirm Password</label>
                    <input type="password" name="new_user_confirm_password" class="form-control" placeholder="Confirm Password">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" name="Submit" class="btn btn-primary">
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
