{% extends "retro/baseNavigation.html" %}

{% block pageTitle %}
  {% if team_details %}
    {{team_details.name}}
  {% else %}
      No Team Name Provided
  {% endif %}
{% endblock %}


{% block pageDiscription %}
  
{% endblock %}

{% block localScripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      updateMemberList();
      $("#add_team_memeber").on("click", function(){
        html = "<div class=\"row\"><div class=\"col-md-12\"><div class=\"input-group input-group-lg form-group\"><span class=\"input-group-addon\"><span class=\"fa fa-search\"></span></span><input type=\"search\" name=\"member_search\" class=\"form-control\" placeholder=\"Add Member\" id=\"user_search\"></div></div></div><div class=\"row\"><div class=\"col-md-12\"><div id=\"search_results\"><table class=\"table table table-striped\" id=\"search_results_table\"><tbody id=\"search_results_list\"></tbody></table></div></div></div>";
        $("#modal_body").html(html);
        $("#modal_title").html("User Search");
        $("#user_search").on('input', function(){
          refreshUserSearch();
        });
        $("table").on("click","#search_results_list tr td button", function(){
          addMemeber($(this).attr("id"));
        });
        $("#globalModal").modal("show");
        // refreshUserSearch();
      });
      $("#add_member").on("click", function(){
        console.log('clicked');
      });
      $("table").on("click","#member_list tr td button", function(){
        $.ajax({
          type:"POST",
          url: "/remove/teamMember/",
          data: "teamId={{team_details.id}}&userId="+$(this).attr("id"),
          beforeSend: function(xhr, settings) {
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                  }
               }
               return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
              // Only send the token to relative URLs i.e. locally.
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
          },
          success: function(){
            updateMemberList();
            refreshUserSearch();
          },
          error: function(){

          }
        })
      });

      function updateMemberList(){
        $.ajax({
          type:"POST",
          url:"/get/team/details/",
          data:"teamId={{team_details.id}}",
          beforeSend: function(xhr, settings) {
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                  }
               }
               return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
              // Only send the token to relative URLs i.e. locally.
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
          },
          success: function(data){
            var html = ""
            for(var index in data.members){
              html += "<tr><td>"+data.members[index].first_name +" "+ data.members[index].last_name+"</td><td>"+data.members[index].username+"</td><td><a href=\"mailto:"+data.members[index].email+"\"><i>"+data.members[index].email+"</i></a></td><td style=\"width: 50px\"><button id=\""+data.members[index].id+"\" class=\"btn btn-danger\"><span class=\"fa fa-times\"></span></button></td></tr>";
            }
            $("#member_list").html(html);
          },
          error: function(error){
            console.log(error);
          }
        });
      }
      
      function refreshUserSearch(){
        $.ajax({
          type: "GET",
          url: "/search/users/",
          data: $("#user_search").serialize()+"&teamId={{team_details.id}}",
          beforeSend: function (){
            console.log("sending");
          },
          success: function(data){
            var html = "";
            for(var index in data){
              html += "<tr><td>"+ data[index].username +"</td><td>"+ data[index].email+"</td><td><button class=\"btn btn-link\" id=\""+data[index].id+"\"><span class=\"fa fa-plus\"></span></button><td></tr>";
            }

            $("#search_results_list").html(html);
          },
          error: function(error){
           console.log(error);
          },
          complete: function(){
            console.log("completing");
          }
        });
      }


      

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }

      function addMemeber(id){
        $.ajax({
          type: "POST", 
          url: "/add/teamMember/",
          data: "userId="+id+"&teamId={{team_details.id}}",
          beforeSend: function(xhr, settings) {
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                  }
               }
               return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
              // Only send the token to relative URLs i.e. locally.
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
          }, 
          success: function(data){
            console.log(data);
          },
          error: function(error){
            console.log(error);
          },
          complete: function(){
            console.log("teamMember call complete");
            updateMemberList();
            refreshUserSearch();
          }
        });
      }
      
    });
  </script>
{% endblock%}
{% block content%}
  {% if team_details %}
  <div class="row">
    <div class="col-md-12">
      <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Members
                <div style="float: right;">
                  <button class="fa fa-plus btn btn-default" id="add_team_memeber"></button>
                </div>
              </div>
              <div class="card-body">
                <table class="table">
                  <tbody id="member_list">
                   
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <form action="{% url 'retro:deleteTeam' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="teamId" value="{{team_details.id}}">
        <input type="submit" class="btn btn-danger" value="Delete Team"/>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}

{ % endblock % }
