{% extends "retro/baseNavigation.html" %}

{% block pageTitle%}
  {% if retro_details %}
    Add New Item For "{{retro_details.title}}"
  {% endif %}
{% endblock %}


{% block pageDiscription %}

{% endblock %}

{% block content%}
<form class="" action="{% url 'retro:addNewRetroItem' %}" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-3">
      <label for="title">Title</label>
      <input type="text" name="title" placeholder="Enter Title" class="form-control">
      {% if retro_details %}
      <input type="hidden" name="retroId" value="{{retro_details.id}}">
      {% endif %}
    </div>
    <div class="col-md-2">
        <label for="category">Category</label>
        <select class="form-control" name="category">
          {% if all_categories %}
            {% for category in all_categories %}
              {% if category.id == item_details.category.id %}
                <option value="{{category.id}}" selected>{{category.name}}</option>
              {% else %}
                <option value="{{category.id}}">{{category.name}}</option>
              {% endif %}
            {% endfor %}
          {% endif %}
        </select>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1">
      <input type="submit" value="submit" class="btn btn-info">
    </div>
  </div>
</form>
{% endblock %}
{ % endblock % }
