{% extends 'retro/baseNavigation.html' %}

{% block content %}
{% if team_details %}
<div class="row">
  {% if team_retros%}
    {% for retro in team_retros%}
      <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="card retro-card" style="margin 15px;">
            <div class="bg"></div>
            <div class="card-header">
              {% if retro.current == True%}
                <input type="checkbox" checked="checked" name=""> Current
              {% else %}
                <input type="checkbox" name=""> Current
              {% endif %}
              <div style="float: right"><span class="fa fa-times"></span></div>
            </div>
            <div class="card-body">
              <a href="{% url 'retro:retroDetails' retro.id %}">
                <h4 class="card-title">
                  {{ retro.title|truncatechars:18 }}
                </h4>
                <h6 class="card-subtitle text-muted"><i>{{retro.created_date}}</i></h6>
                <!-- <p class="card-text" style="height: 200px;">Simple description</p> -->
              </a>
            </div>
          </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
<div class="row">
  <div class="col-md-12">
    <a href="{% url 'retro:NewRetro' team_details.id %}" class="btn btn-info">
      <span class="fa fa-plus"></span>
    </a>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <br><br>
    <div class="alert alert-info">
      <center>SELECT A TEAM</center>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{ % endblock % }
