{% extends 'retro/baseNavigation.html' %}
{% block pageTitle %}
  {% if team_details %}
    {{team_details.name}}
  {% else %}
      No Team Name Provided
  {% endif %}
{% endblock %}


{% block pageDiscription %}
  {% if team_details %}
    {{team_details.description}}
  {% else %}
    No Description Provided
  {% endif %}
{% endblock %}

{% block content %}
{% if team_details %}


<div class="row">
  {% if team_retros%}
    {% for retro in team_retros%}
      <div class="col-md-2">
        <div class="card" style="margin-bottom: 15px">
          <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
          <div class="card-body">
            <h4 class="card-title">
              {{retro.title}}
            </h4>
            <p class="card-text">Simple description</p>
            <a href="{% url 'retro:retroDetails' retro.id %}">View Details >></a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <!-- <div class="col-md-12">
    {% if team_retros %}
    <h3>Retros</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ttitle</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for retro in team_retros %}
        <tr>
          <td scope="row"><a href="{% url 'retro:retroDetails' retro.id %}">{{retro.title}}</a></td>
          <td align="right">
            <form class="" action="{% url 'retro:deleteRetro' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="retroId" value="{{retro.id}}">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <br>
    <div class="alert alert-warning">

        <center>No Retros Available</center>
    </div>
    {% endif %}

  </div> -->
</div>
<div class="row">
  <div class="col-md-12">
    <a href="{% url 'retro:NewRetro' team_details.id %}" class="btn btn-info">
      <span class="fa fa-plus"></span>
    </a>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <br><br>
    <div class="alert alert-info">
      <center>SELECT A TEAM</center>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{ % endblock % }
